body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    font-size: 5.625em;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    padding-top: 100px;
}
h3{
    color: #11999e;   
}
p{
    line-height: 2;
}
a{
    color: #11999e;
    margin: 10px 10px;
    text-decoration: none;
}
hr{
    border: dotted #405144 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a:hover{
    color: #eaf6f6;
}

.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-cloud{
    height: 15rem;
    width: 13rem;
    position: absolute;
    right: 10%;
    top: 2rem;
}
.bottom-cloud{
    height: 15rem;
    width: 13rem;
    position: absolute;
    left: 10%;
    bottom: 28rem;
}

.mountain{
    opacity: 0.5;
    width: 100%;
    height: 34rem;
}

.Top-box{
    background-color: #E4F9F5;
    position: relative;
    margin: 0;
    padding-top: 50px;
}

.skill-row{
    text-align: left;
    width: 50%;
    margin: 100px auto ;
}

.chatting-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.man-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.Middle-box{
    margin: 100px auto;
}

.Bottom-box {
    background-color: #66BFBF;
    padding: 50px 0 20px; 
}
.contact-msg{
    width: 40%;
    margin: 40px auto 40px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
  }
.Copyrite{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}